:root {
  --cor01: #1a1a1a; 
  --cor02: #ff0000; 
  --cor03: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--cor01);
  color: var(--cor03);
}

.janela {
  display: flex;
  height: 100vh;
}

/* MENU LATERAL */
.header-left {
  width: 250px;
  background-color: #111;
  padding: 20px;
  border-right: 2px solid var(--cor02);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header-left h1 {
  color: var(--cor03);
}

.header-left h1 span {
  color: var(--cor02);
}

.hello h3 {
  font-weight: 400;
}

.btn-nav, .btn-nav-white {
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-nav {
  background-color: var(--cor02);
}

.btn-nav-white {
  background-color: #222;
}

.btn-nav-white:hover {
  border: 1px solid var(--cor02);
}

.btn-nav a, .btn-nav-white a {
  text-decoration: none;
  color: var(--cor03);
}

.btn-logout {
  margin-top: auto;
  padding: 10px;
  background-color: #222;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
}

.btn-logout:hover {
  border: 1px solid var(--cor02);
}


.dash {
  flex: 1;
  padding: 30px;
}

.btns-dash {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.btn-chart {
  padding: 10px 20px;
  background-color: #222;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}

.btn-chart:hover {
  border: 1px solid var(--cor02);
}

.btn-pink {
  background-color: var(--cor02);
}

.btn-white {
  background-color: #222;
}


.graph {
  background-color: #111;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 8px 8px 0px var(--cor02);
}

.tituloGraficos {
  margin-bottom: 15px;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}
.layout {
  display: flex;
  height: 100vh;
}


.lado-esquerdo {
  width: 30%;
  background: #1a1a1a;
  color: white;
  padding: 20px;
}


.lado-direito {
  width: 70%;
  padding: 20px;
}


.graficos {
  display: flex;
  gap: 20px;
}

canvas {
  width: 100% !important;
  height: 300px !important;
  background: #111;
  border-radius: 10px;
  padding: 10px;
}

#graficos{
width: 50%;
align-items: center;
border: 2px solid var(--cor02);
  

}